
body{
    background:#888888;
}
.tree{
    white-space: nowrap;
    width: 1500px;
    font-weight: bold;
}

.tree ul, .tree li {
    margin: 0; 
    padding: 0;
    white-space: nowrap;
}
.tree table{
    margin:0;
}
.tree table td{
    border: 1px solid #000;
}

.tree ul {
    padding-top: 20px; 
    position: relative;
}

.tree li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.tree li::before, .tree li::after{
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 1px solid #000;
    width: 50%; 
    height: 20px;
    white-space: nowrap;
}

.tree li::after{
    right: auto; 
    left: 50%;
    border-left: 1px solid #000;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}

.tree li:last-child::before{
    border-right: 1px solid #000;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
}

.tree ul ul::before{
    content: '';
    position: absolute; 
    top: 0; 
    left: 50%;
    border-left: 1px solid #000;
    width: 0; 
    height: 20px;
}

.tree li div{

    display: inline-block;
    white-space: nowrap;
}
